* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Inter", sans-serif;
}

section {
    margin: 40vh;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

.question {
    border-bottom: 1px solid #dbdef0;
    width: 80vw;
    padding-bottom: 1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.question h3 {
    width: 100%;
}

input[type="radio"] {
    -webkit-appearance: none;
}

label {
    border: 1px solid #293264;
    border-radius: 1em;
    padding: 0.5em 1.5em;
}

label:has(input[type="radio"]:checked) {
    background: #d6dbf5;
}

.score-screen {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* TYPESETTING */

h1,
h2,
h3,
p {
    margin: 0;
}

h1 {
    font-family: "Karla", sans-serif;
    letter-spacing: 1px;
}

section {
    color: #293264;
}

section p {
    margin-top: 0.5em;
}

h3 {
    font-size: 1.3rem;
}

label {
    font-weight: 500;
    font-size: 0.9rem;
}

.score-screen h3 {
    font-size: 1.2rem;
}

/* Buttons */

button {
    background: #4d5b9e;
    border: none;
    padding: 1em 3em;
    color: white;
    border-radius: 1em;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

section button {
    margin-top: 1.5em;
}

.restart-btn {
    display: inline-block;
    padding: 0.7em 2em;
    border-radius: 0.8em;
    font-size: 0.9rem;
}

button:disabled {
    cursor: not-allowed;
}

/* Background */

.yellow-blob-intro,
.blue-blob-intro,
.yellow-blob-quiz,
.blue-blob-quiz {
    position: fixed;
    z-index: -1;
    width: 30%;
}

.yellow-blob-intro {
    right: 0;
    top: 0;
}

.blue-blob-intro {
    left: 0;
    bottom: 0;
}

.yellow-blob-quiz {
    right: -30px;
    top: -30px;
}

.blue-blob-quiz {
    left: -30px;
    bottom: -30px;
    width: 20%;
}

/* Valuation */

.grey-text {
    color: #23293264;
    border: 1px solid rgba(35, 41, 50, 0.39);
}

.correct,
.wrong {
    border: none;
}

.wrong {
    background: #f8bcbc !important;
}

.correct {
    background: #94d7a2 !important;
}
