* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Inter", sans-serif;
}

/* TYPESETTING */

h1,
h2,
h3,
p {
    margin: 0;
}

h1 {
    font-family: "Karla", sans-serif;
    letter-spacing: 1px;
}

section {
    color: #293264;
}

section p {
    margin-top: 0.5em;
}

h3 {
    font-size: 1.3rem;
}

label {
    font-weight: 500;
    font-size: 0.9rem;
}

.score-screen h3 {
    font-size: 1.2rem;
}

/* BACKGROUND */

.yellow-blob-intro,
.blue-blob-intro,
.yellow-blob-quiz,
.blue-blob-quiz {
    position: fixed;
    z-index: -1;
    width: 30%;
}

.yellow-blob-intro {
    right: 0;
    top: 0;
}

.blue-blob-intro {
    left: 0;
    bottom: 0;
}

.yellow-blob-quiz {
    right: -30px;
    top: -30px;
}

.blue-blob-quiz {
    left: -30px;
    bottom: -30px;
    width: 20%;
}
